{% extends 'base.html' %}
{% block style %}
  <style>
    body {
      margin: 20px;
    }
  </style>
{% endblock style %}
{% block content %}
{% load bootstrap5 %}
  <h1>reviews CREATE</h1>
  <hr>
  <form action="{% url 'reviews:update' review.pk %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form review_form %}
    <input type="submit" class="btn btn-secondary mb-2">
  </form>
  <a href="{% url 'reviews:index' %}" class="btn btn-secondary">BACK</a>
{% endblock content %}