{% extends 'base.html' %}

{% block style %}
  <style>
    body {
      margin: 5rem;
    }
  </style>
{% endblock style %}

{% block content %}
{% load bootstrap5 %}
  <h1>INDEX</h1>
  <hr>

  {% if request.user.is_authenticated %}
    <h2 class="mb-5">Hello, {{ user }}</h2>

    <div class="row">
      <a href="{% url 'accountbooks:index' %}" class="btn border-dark mb-3">accountbooks</a>
      <a href="{% url 'accounts:login' %}" class="btn border-dark mb-3">accounts</a>
      <a href="{% url 'albums:index' %}" class="btn border-dark mb-3">albums</a>
      <a href="{% url 'apps:throw' %}" class="btn border-dark mb-3">apps</a>
      <a href="{% url 'articles:index' %}" class="btn border-dark mb-3">articles</a>
      <a href="{% url 'MarchTwentyThird:inpt' %}" class="btn border-dark mb-3">MarchTwentyThird</a>
      <a href="{% url 'reviews:index' %}" class="btn border-dark mb-3">reviews</a>
      <a href="{% url 'todos:index' %}" class="btn border-dark mb-3">todos</a>
      <a href="{% url 'accounts:update' %}" class="btn btn-dark mb-3">update</a>
      <form action="{% url 'accounts:logout' %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="logout" class="btn btn-dark mb-3 form-control">
      </form>
      <form action="{% url 'accounts:delete' %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="delete" class="btn btn-dark mb-3 form-control">
      </form>
    </div>
  {% else %}
    <h2 class="mb-5">Hello, {{ user }}</h2>

    <div class="row">
      <a href="{% url 'accounts:login' %}" class="btn btn-dark mb-3">login</a>
      <a href="{% url 'accounts:signup' %}" class="btn btn-dark mb-3">signup</a>
    </div>
  {% endif %}

{% endblock content %}