{% extends 'base.html' %}

{% block style %}
  <style>
    body {
      margin: 40px;
    }
  </style>
{% endblock style %}

{% block content %}
  <h1>Todos INDEX</h1>
  <hr>
  
  <div class="card border-dark" style="margin-bottom: 1rem;">
    <div class="card-header">
      0. <a href="{%url 'todos:create'%}">NEW</a>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">할 일의 제목, 내용, 우선순위, 마감기한을 입력하세요</li>
    </ul>
    {% for todo in todos %}
    <div class="card-header">
      {% if todo.completed == True %}
        {{ todo.pk }}. <a href="{%url 'todos:detail' todo.pk %}"><s>{{ todo.title }}</s></a>
      {% else %}
        {{ todo.pk }}. <a href="{%url 'todos:detail' todo.pk %}">{{ todo.title }}</a>
      {% endif %}
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">할 일 내용: {{ todo.content }}</li>
      <li class="list-group-item">할 일 우선 순위: {{ todo.priority }}</li>
      <li class="list-group-item">할 일 마감 기한: {{ todo.deadline }}</li>
      <li class="list-group-item">할 일 마감 여부: {{ todo.completed }}</li>
    </ul>
  {% endfor %}
  </div>
{% endblock content %}

