{% extends 'base.html' %}

{% block style %}
  <style>
    * {
      margin: 20px;
    }
  </style>
{% endblock style %}
{% block content %}
  <h1>ARTICLES</h1>
  <p>{{ articles }}</p>
  <hr>
  <a href="{% url 'accounts:profile' user.username %}">내 프로필</a>
  <p>새로운 입력:<a href="{% url 'articles:create' %}">NEW</a></p>
  {% for article in articles %}
  <div class="d-flex gap-2">
    <p>{{ article.pk }}. <a href="{% url 'accounts:profile' article.user.username %}">{{ article.user }}</a> : <a href="{% url 'articles:detail' article.pk %}">{{ article.title }}</a></p>
    <form class="like-forms" data-article-id="{{ article.pk }}">
      {% csrf_token %}
      {% if request.user in article.like_users.all %}
        <input type="submit" value="좋아요 취소" id="like-{{ article.pk }}">
      {% else %}
        <input type="submit" value="좋아요" id="like-{{ article.pk }}">
      {% endif %}
    </form>
  </div>
  {% endfor %}
  {% load static %}
  <img src="{% static 'articles/E8hijkMVEAI4dqV.jpg' %}" alt="img">
  <img src="{% static 'CoD9h2VUkAAY1Sq.jpeg' %}" alt="img">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    const forms = document.querySelectorAll('.like-forms')
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
    forms.forEach((form) => {
      form.addEventListener('submit', function (event) {
        event.preventDefault()
        const articleId = event.target.dataset.articleId
        axios({
          method: 'post',
          url: `http://127.0.0.1:8000/articles/${articleId}/likes/`,
          headers: {'X-CSRFToken': csrftoken},
        })
        .then((response) => {
          const isLiked = response.data.is_liked
          const likeBtn = document.querySelector(`#like-${articleId}`)
          if (isLiked === true) {
            likeBtn.value = '좋아요 취소'
          } else {
            likeBtn.value = '좋아요'
          }
        })
        .catch((error) => {
          console.log(error.response)
        })
      })
    })
  </script>
{% endblock content %}